
  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #eeeeee;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 1.5rem 0.2rem 1.6rem;
  }
  .breadcrumb a {
    color: inherit;
  }
  .breadcrumb li:not(:last-child) {
    padding-right: 0.4rem;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0.8;
  }
  .breadcrumb li:not(:last-child)::after {
    content: "";
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "wolmart";
  }
  .breadcrumb li:not(:last-child):hover {
    opacity: 1;
  }
  .breadcrumb li:last-child {
    color: #333333;
  }
  
  .breadcrumb.shop-breadcrumb {
    padding: 3rem 0;
    margin: 2.5rem 0 2.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumb.shop-breadcrumb li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    opacity: 1;
    color: #666;
  }
  .breadcrumb.shop-breadcrumb li.active {
    color: #0088cc;
  }
  .breadcrumb.shop-breadcrumb li.passed {
    color: #333;
  }
  .breadcrumb.shop-breadcrumb li:not(:last-child)::after {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #999;
    bottom: 3px;
    line-height: 1;
    vertical-align: middle;
  }
  
  .breadcrumb-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }



  .wishlist-page .wishlist-title {
    margin-bottom: 2.4rem;
    line-height: 1.6;
    letter-spacing: -0.015em;
  }
  .wishlist-page .social-links {
    margin-bottom: 2.8rem;
    padding: 2.2rem 0;
  }
  .wishlist-page .social-links label {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin-right: 1.6rem;
    letter-spacing: -0.01em;
  }
  .wishlist-page .social-icon {
    margin-right: 0.8rem;
  }
  
  .shop-table {
    text-align: start;
  }
  .shop-table tbody {
    border-bottom: 1px solid #eee;
  }
  .shop-table td {
    padding: 2rem 0 2rem 0;
    border-top: 1px solid #eee;
    font-size: 1.4rem;
  }
  .shop-table tbody td:not(:first-child),
  .shop-table thead th:not(:first-child) {
    padding-left: 1rem;
  }
  .shop-table .product-thumbnail {
    width: 11rem;
    padding-right: 1rem;
  }
  .shop-table .product-name {
    white-space: normal;
    word-break: break-word;
  }
  .shop-table .product-thumbnail a {
    position: relative;
  }
  .shop-table th {
    padding: 1.7rem 0 1.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    line-height: 1.6;
    letter-spacing: 0;
  }
  .shop-table img {
    display: block;
    max-width: 100px;
  }
  .shop-table .product-thumbnail > div {
    display: block;
    max-width: 10rem;
    width: 100%;
  }
  .shop-table .btn-close {
    position: absolute;
    padding: 0;
    background: #fff;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    top: -14px;
    right: -8px;
  }
  .shop-table .btn-close i {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    margin-left: 0;
  }
  .shop-table .btn-close:hover {
    background-color: #fff;
  }
  .shop-table .btn-close:hover i {
    color: #336699;
  }
  
  .wishlist-table .new-price {
    color: #333;
  }
  .wishlist-table .wishlist-in-stock {
    color: #336699;
  }
  .wishlist-table .wishlist-out-stock {
    color: #f93;
  }
  .wishlist-table .btn-sm {
    padding: 0.77em 2.07em;
  }
  .wishlist-table .btn-quickview {
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    border: 1px solid #ccc;
    color: #333;
  }
  .wishlist-table .btn-quickview:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
  }
  .wishlist-table .product-price {
    width: 15.17%;
  }
  .wishlist-table .product-stock-status {
    width: 19.84%;
  }
  .wishlist-table .wishlist-action {
    width: 24.19%;
  }
  
  @media (max-width: 767px) {
    .shop-table:not(.account-orders-table) {
      text-align: center;
    }
    .shop-table:not(.account-orders-table) thead {
      display: none;
    }
    .shop-table:not(.account-orders-table) tbody {
      border: 1px solid #eee;
    }
    .shop-table:not(.account-orders-table) tbody, .shop-table:not(.account-orders-table) tr, .shop-table:not(.account-orders-table) td {
      display: block;
    }
    .shop-table:not(.account-orders-table) tr {
      position: relative;
      padding: 4.2rem 2rem 4rem;
    }
    .shop-table:not(.account-orders-table) tr + tr {
      border-top: 1px solid #eee;
    }
    .shop-table:not(.account-orders-table) td {
      padding: 0;
      border: none;
    }
    .shop-table:not(.account-orders-table) td.product-thumbnail,
  .shop-table:not(.account-orders-table) .product-quantity {
      margin-bottom: 1rem;
      width: auto;
    }
    .shop-table:not(.account-orders-table) td.product-thumbnail {
      padding-right: 0;
    }
    .shop-table:not(.account-orders-table) .product-name, .shop-table:not(.account-orders-table) .product-price, .shop-table:not(.account-orders-table) .product-stock-status {
      margin-bottom: 1rem;
    }
    .shop-table:not(.account-orders-table) .product-thumbnail > div, .shop-table:not(.account-orders-table) td {
      margin-left: auto;
      margin-right: auto;
    }
    .shop-table:not(.account-orders-table) .product-thumbnail > div {
      max-width: 30rem;
    }
    .shop-table:not(.account-orders-table) .product-thumbnail > div img {
      max-width: 100%;
    }
    .shop-table:not(.account-orders-table) .product-stock-status,
  .shop-table:not(.account-orders-table) .wishlist-action {
      width: auto;
    }
    .shop-table:not(.account-orders-table) tbody td:not(:first-child),
  .shop-table:not(.account-orders-table) thead th:not(:first-child) {
      padding-left: 0;
    }
  }