
/* header */
.header {
  font-family: Poppins, sans-serif;
  background: #fff;
  color: #333;
}
.header .container,
.header .container-fluid,
.header .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .inner-wrap {
  width: 100%;
}
.header a:not(.btn) {
  color: inherit;
}
.header a:not(.btn):hover {
  color: #0088cc;
}

.header-left,
.header-center,
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  margin-left: auto;
}

// .has-center .header-right {
//   -webkit-box-flex: 1;
//       -ms-flex: 1;
//           flex: 1;
// }
// .has-center .header-right {
//   -webkit-box-pack: end;
//       -ms-flex-pack: end;
//           justify-content: flex-end;
// }
// .has-center .header-center {
//   margin-left: 2rem;
//   margin-right: 2rem;
// }

.header-top {
  background: #0088cc;
  font-size: 1.1rem;
  letter-spacing: -0.027em;
  text-transform: capitalize;
}
.top-header-text {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #fff;
}

.logo {
  min-width: 14.4rem;
  margin-right: 2rem;
}
.logo img {
  display: block;
}

.header h1 {
  line-height: 0;
  margin-bottom: 0;
}

.header-bottom {
  color: #333;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  border-bottom: 1px solid #eee;
}
.header-bottom .main-nav {
  margin-left: 2.1rem;
}
.header-bottom .header-right {
  padding-right: 0.2rem;
}
.header-bottom .header-right > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 0 1.3rem;
}
.header-bottom .header-right > a i {
  vertical-align: middle;
}
.header-bottom .header-right > a i.w-icon-map-marker {
  font-size: 2.2rem;
  margin-top: -0.5rem;
}
.header-bottom .header-right > a i.w-icon-sale {
  font-size: 2.4rem;
  margin-right: 0.8rem;
}
.header-bottom .header-right > a:first-child {
  margin-right: 3.2rem;
}
.header-bottom:not(.fixed) .show-dropdown .dropdown-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 2rem;
}


.header-middle {
  padding-top: 1.2rem;
  padding-bottom: 1.3rem;
  color: #333;
  background: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}
.header-middle .header-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.header-search {
  position: relative;
  width: 100%;
  max-width: 38rem;
}
.header-search input.form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 40px;
  padding: 0.9rem;
  border: 2px solid #0088cc;
  border-right: 0;
  font-size: 1.2rem;
  letter-spacing: 0;
  font-family: Poppins, sans-serif;
}
.header-search input.form-control::-webkit-input-placeholder {
  color: inherit;
}
.header-search input.form-control::-moz-placeholder {
  color: inherit;
}
.header-search input.form-control:-ms-input-placeholder {
  color: inherit;
}
.header-search input.form-control::-ms-input-placeholder {
  color: inherit;
}
.header-search input.form-control::placeholder {
  color: inherit;
}
.header-search .btn-search {
  margin: 0;
  padding: 0;
  min-width: 4.6rem;
  color: #333;
  border-color: #0088cc;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -0.025em;
  text-transform: none;
}
.header-search .btn-search i {
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.header-search .btn-search:hover, .header-search .btn-search:active, .header-search .btn-search:focus {
  color: #0088cc;
  background-color: transparent;
}
// .header-search .select-box::before {
//   right: 1.2rem;
//   margin-top: -0.1rem;
//   font-weight: 400;
// }
// .header-search .select-box select {
//   position: relative;
//   padding: 0 2rem 0 1.5rem;
//   border: 0;
//   font-weight: 400;
//   z-index: 1;
// }
.header-search.hs-toggle .input-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -2.5rem;
  top: 100%;
  min-width: 30rem;
  padding: 1.5rem;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
  z-index: 100;
  -webkit-transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
// .header-search.hs-toggle:hover {
//   color: #0088cc;
// }
// .header-search.hs-toggle .form-control {
//   padding: 1.4rem 2rem;
//   font-size: 1.3rem;
//   color: #777;
//   background-color: #f4f4f4;
//   border: none;
//   height: 5rem;
// }
// .header-search.hs-toggle .btn-search {
//   background-color: #f4f4f4;
//   min-width: 5rem;
//   font-size: 1.8rem;
//   color: #222;
//   border: none;
// }
// .header-search.hs-toggle .btn-search i {
//   margin-bottom: 0.3rem;
//   font-size: inherit;
// }
// .header-search.hs-toggle.show .input-wrapper {
//   opacity: 1;
//   visibility: visible;
//   -webkit-transform: translate3d(0, 0, 0);
//           transform: translate3d(0, 0, 0);
// }
// .header-search.hs-toggle.show .search-toggle::after {
//   opacity: 1;
//   visibility: visible;
//   -webkit-transform: translate(50%, 0);
//           transform: translate(50%, 0);
// }
.header-search.hs-expanded {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  min-width: auto;
  max-width: none;
}
.header-search.hs-expanded .select-box {
  width: 14.6rem;
  border: 2px solid #0088cc;
  border-right: none;
  color: #666666;
}
.header-search.hs-expanded .select-box::after {
  content: "";
  height: 35px;
  width: 1px;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-search.hs-expanded input.form-control {
  color: #666;
  border-right: none;
}
.header-search.hs-expanded .btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.4s, color 0.4s;
  transition: opacity 0.4s, color 0.4s;
}
.header-search.hs-expanded .btn-search i {
  margin: 0;
}
.header-search.hs-expanded .btn-search span {
  margin-right: 0.5rem;
  letter-spacing: -0.03em;
}
.header-search.hs-simple {
  min-width: 35rem;
}
.header-search.hs-simple input.form-control {
  border: none;
  background-color: #f5f5f5;
}
.header-search.hs-simple .btn-search {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 4.5rem;
  background: transparent;
  color: #666;
}
// .header-search.hs-rounded .select-box,
// .header-search.hs-rounded .form-control {
//   border-radius: 0.5rem 0 0 0.5rem;
// }
// .header-search.hs-rounded .btn-search {
//   border-radius: 0 0.5rem 0.5rem 0;
// }
// .header-search.hs-rounded.hs-simple input.form-control {
//   border-radius: 5rem;
// }
// .header-search.hs-rounded.hs-expanded .form-control {
//   border-radius: 0;
// }

.header-search.hs-round .form-control {
  border-radius: 0.3rem 0 0 0.3rem;
}
.header-search.hs-round .btn-search {
  border-radius: 0 0.3rem 0.3rem 0;
}
.header-search.hs-round.hs-simple input.form-control {
  border-radius: 3rem;
}
.header-search.hs-round.hs-expanded .form-control {
  border-radius: 0.3rem 0 0 0.3rem;
}
.main-nav {
  margin: 0 auto;
}
.main-nav .menu > .has-submenu {
  padding-right: 1.5rem;
}

.mobile-menu-toggle {
  display: none;
  font-size: 2.4rem;
  line-height: 1;
}

.selected-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -0.3rem 2.7rem 0 0;
  color: #333;
}

.header-icon-menu.main-nav p  span {display: block;font-size: 9px;}
.header-icon-menu.main-nav p {margin: 0 0px 0 10px;display: inline-block;font-size: 14px;font-weight: 600;line-height: 20px;}
.main-nav.header-icon-menu a {display: flex;align-items: center;padding: 0;}
.header-icon-menu.main-nav .menu > li{
  margin-right: 5rem;
}
.main-nav.header-icon-menu a img {height: 35px;}
.header-sign-in {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-right: 2.3rem;
  color: #333;
  margin-top: 0.1rem;
}

@media (max-width: 767px) {
  .header-sign-in, .selected-country {
    display: none;
}
}

.header-border .header-bottom {
  border-bottom: 1px solid #eee;
}

@media (max-width: 991px) {
  .header .main-nav {
    display: none;
  }
  .header .sticky-content-wrapper {
    display: none;
  }

  .header-top .header-left {
    margin-right: 2rem;
  }

  .header-middle .header-right > *:not(:last-child) {
    margin-right: 2rem;
  }

  .header-bottom {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }

}
@media (max-width: 991px) and (min-width: 480px) {
  .header-middle .logo {
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .header-middle .logo {
    margin: 0 auto;
  }
  .header-middle .header-right {
    margin-left: 0 !important;
  }
}

/* menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu a {
  display: inline-block;
  color: inherit;
}
.menu a:hover {
  color: #0088cc;
}
.menu .menu-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.menu  .has-submenu > a::after {
  content: "";
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.menu li {
  position: relative;
  line-height: 1;
}
.menu li a {
  padding: 0.7rem 0 0.8rem 0;
}
.menu li ul,
.menu li .megamenu {
  position: absolute;
  top: -9999px;
  left: 100%;
  margin: 0;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
.menu li .megamenu {
  padding: 0 1rem;
}

.menu li:hover .megamenu,
.menu .show .megamenu {
  visibility: visible;
  top: -2rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu > li {
  margin-right: 3rem;
}
.menu > li:last-child {
  margin-right: 0;
}
.menu > li > a {
  position: relative;
  padding: 1.8rem 0 1.7rem 0;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.009em;
  line-height: 1.1;
  text-transform: capitalize;
}
.menu > li > a::after {
  margin-left: 0.6rem;
}

.menu > li .megamenu {
  left: -1.5rem;
}
.menu > li:hover > a:not(.menu-title), .menu > li.active > a:not(.menu-title) {
  color: #0088cc;
}

.menu > li:hover .megamenu, 
.menu > li.show .megamenu {
  top: 100%;
}
.menu .has-submenu > a {
  display: block;
  position: relative;
}
.menu > .has-submenu > a::after {
  margin-top: 1px;
  right: -16px;
}
// .menu.no-arrow > li > a::after {
//   content: none;
// }
.menu .megamenu ul {
  position: static;
  -webkit-box-shadow: none;
          box-shadow: none;
  visibility: visible;
  opacity: 1;
}
.has-submenu > a::after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 0;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  color: inherit;
  content: "";
}

/* Mega Menu */
.megamenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80rem;
  background: #fff;
}
.megamenu > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.7rem 1rem 0;
}
.megamenu > li.row:last-child {
  padding: 0 2rem 2rem 0;
}
.megamenu ul {
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
  padding: 0;
  letter-spacing: 0;
}
.megamenu ul:last-child {
  margin-bottom: 1rem;
}
.megamenu-sm {
  min-width: 40rem;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown-box, .dropdown.show .dropdown-box {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.dropdown:hover::after, .dropdown.show::after {
  visibility: visible;
  opacity: 1;
  top: calc(100% - 20px);
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}
.dropdown:hover .dropdown-box, .dropdown.show .dropdown-box {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.dropdown:hover > a, .dropdown.show > a {
  color: #0088cc;
}
.dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown a .dropdown-image {
  margin-right: 0.6rem;
  margin-top: -1px;
  height: auto;
}
.dropdown > a {
  line-height: 1.1;
  padding: 11px 0;
}
.dropdown > a::after {
  display: inline-block;
  margin-left: 6px;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-size: 8px;
  font-weight: 900;
}
.dropdown li.active > a, .dropdown li:hover > a {
  color: #0088cc;
}

.dropdown-box {
  position: absolute;
  right: 0;
  top: -9999px;
  padding: 0.5rem 0;
  color: #666;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
.dropdown-box a {
  padding: 0.6rem 1rem;
  font-size: inherit;
  line-height: 1.1;
}
.selected-country .dropdown-box, .header-sign-in .dropdown-box{
  min-width: 150px;

}
.header-sign-in .dropdown-box hr {border: 0; height: 0;}
.header-sign-in .dropdown-box .Register {background-color: #08c;justify-content: center;color: #fff;padding: 13px;}
.header-sign-in .dropdown-box {padding-bottom: 0;}
.cart-dropdown .cart-toggle {
  padding: 0;
}
.header-sign-in .dropdown-box .Register:hover {
    color: #fff;
}

/* Category Menu */
.category-menu {
  padding: 1rem 0;
  background: #fff;
}
.category-menu i {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 0.7rem;
  font-size: 1.7rem;
  width: 1.7rem;
}
.category-menu > li > a {
  display: block;
  padding: 1.3rem 1rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.007em;
  color: #666666;
}
.category-menu > li > a::before {
  content: none;
}
.category-menu > li:not(:last-child) > a {
  border-bottom: 1px solid #eeeeee;
}
.category-menu > li:last-child > a i {
  margin: 0 0 0 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.category-menu li .megamenu {
  padding: 0 2rem;
}
.category-menu li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.category-menu li:hover > a:not(.menu-title) {
  color: #0088cc;
}
.category-menu li:hover > a:not(.menu-title) i {
  color: inherit;
}
.category-menu > .has-submenu:hover > a::after {
  right: 0.5rem;
}
.category-menu .megamenu {
  min-width: 68.5rem;
}
.category-menu .megamenu > li:not(:last-child) {
  padding: 2.8rem 2rem 0 0rem;
}
.category-menu .megamenu .menu-title {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}
.category-menu .megamenu .divider {
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  margin: 0.5rem 0 2rem;
}
.category-menu .megamenu li a:not(.btn) {
  padding-top: 0.8rem;
}
.category-menu .megamenu.type2 {
  display: block;
}
@media (min-width: 1200px) {
  .category-menu .megamenu.type2 {
    min-width: 88rem;
  }
}
@media (max-width: 1199px) {
  .main-nav .menu .megamenu {
    left: -18rem;
  }

  .category-menu .megamenu.type2 {
    min-width: 70rem;
  }
}

/* vertical menu */
.vertical-menu {
  display: block;
  min-width: 24rem;
}
// .vertical-menu i.w-icon-electronics, .vertical-menu i.w-icon-furniture {
//   font-size: 1.5rem;
//   text-align: center;
// }
.vertical-menu > li {
  margin-right: 0;
  padding: 0 1rem;
}
.vertical-menu > li > ul,
.vertical-menu > li .megamenu {
  -webkit-transform: translate3d(-15px, 0, 0);
          transform: translate3d(-15px, 0, 0);
}
.vertical-menu > li > a {
  display: block;
}
.vertical-menu > li > a::after {
  content: none;
}
.vertical-menu > li:hover > ul,
.vertical-menu > li:hover .megamenu, .vertical-menu > li.active > ul,
.vertical-menu > li.active .megamenu {
  left: 100%;
  top: 0rem;
}
.vertical-menu > li:first-child:hover > ul,
.vertical-menu > li:first-child:hover .megamenu, .vertical-menu > li:first-child.active > ul,
.vertical-menu > li:first-child.active .megamenu {
  top: -1rem;
}
.vertical-menu > .has-submenu > a::after {
  content: "\f107";
  position: absolute;
  right: 1rem;
  line-height: 0;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

/* category dropdown */
.category-dropdown > button {
  background: #fff;
  min-width: 28rem;
  padding: 2.4rem 2.3rem 2.3rem 2.5rem;
  letter-spacing: -0.025em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}
.category-dropdown > button i {
  margin-bottom: 0.1rem;
  font-size: 1.7rem;
  line-height: 0;
}
.category-dropdown > button span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.7rem;
}
.category-dropdown > button::after {
  font-family: "wolmart";
  content: "";
  font-weight: 600;
  font-size: 0.9rem;
}
.category-dropdown > button:not(.btn):hover {
  color: #fff;
}
.category-dropdown:hover > button, .category-dropdown.show > button {
  color: #fff;
  background-color: #0088cc;
}
.category-dropdown .dropdown-box {
  padding: 0;
  left: 0;
  min-width: 24rem;
  color: #333;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: z-index 0.3s, -webkit-transform 0.3s;
  transition: z-index 0.3s, -webkit-transform 0.3s;
  transition: z-index 0.3s, transform 0.3s;
  transition: z-index 0.3s, transform 0.3s, -webkit-transform 0.3s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, -1rem, 0);
          transform: translate3d(0, -1rem, 0);
  top: 100%;
}
.category-dropdown::before, .category-dropdown::after {
  left: 25px;
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}
.category-dropdown::after {
  border-bottom-color: #f4f4f4;
  visibility: hidden;
  opacity: 0;
  top: calc(100% - 20px);
}
.category-dropdown.menu-fixed .dropdown-box, .category-dropdown.menu-fixed::after {
  visibility: hidden;
  opacity: 0;
}
.category-dropdown.dropdown.show .dropdown-box {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.category-dropdown.dropdown.show .dropdown-box, .category-dropdown.dropdown.show::after {
  visibility: visible;
  opacity: 1;
}
.category-dropdown.has-border .category-toggle {
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  border-top: 0px;
  border-bottom: 0px;
}
.category-dropdown.show-dropdown .dropdown-box {
  border-radius: 0.5rem;
}
.category-dropdown.show-dropdown .dropdown-box::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 1.7rem;
  border: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}
.category-dropdown.show-dropdown .dropdown-box .category-menu {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

@media (max-width: 1199px) {
  .category-dropdown > button {
    min-width: 24rem;
  }
  .header-icon-menu.main-nav .menu > li {
      margin-right: 3rem;
  }
}