.login-popup {
  max-width: 550px;
  padding: 33px 50px 26px;
  margin: 42px auto 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.login-popup.sign-up{
  max-width: 700px;
}
.login-popup .checkbox-round + label::before {
  border-radius: 50%;
  border: 1px solid #ccc;
  background: transparent;
}
.login-popup .checkbox-round + label::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #333;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  opacity: 0;
}
.login-popup .checkbox-round.active + label::after {
  opacity: 1;
}
.login-popup .login-vendor {
  display: none;
}
.login-popup .login-popup ul.nav.nav-tabs {
  border: 0;
}
.login-popup ul.nav.nav-tabs {
  border: 0;
}
.login-popup .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login-popup .nav.nav-tabs .nav-item {
  width: calc(50%);
  margin: 0;
  list-style: none;
}
.login-popup .nav-tabs .nav-item .nav-link.active {
  color: #336699;
}
.login-popup .nav-item .nav-link {
  padding: 1.3rem 0;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  position: relative;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}
.login-popup .heading{
  padding: 1.3rem 0;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  position: relative;
  color: #336699;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.login-popup .heading::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 25%;
  width: 50%;
  border-top: 2px solid #336699;
}
.login-popup .error{
  color: red;
  font-size: 12px;
  margin: 5px 0 10px;
}
.login-popup .form-group {
  margin-bottom: 2.6rem;
}
.login-popup .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.login-popup select{
  border: 1px solid #eee; 
  color: #999;
}
.login-popup .form-control {
  display: block;
  width: 100%;
  min-height: 4.7rem;
  padding: 0.85rem 2rem;
  border: 1px solid #eee;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #999;
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  min-height: 44px;
}
.login-popup .form-control:focus{
  border-color: black !important;
}
.login-popup .form-control.field-error{
  border: 1px solid red;
}
.custom-checkbox {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.custom-checkbox + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.custom-checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  line-height: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.custom-checkbox:checked + label::before,
.custom-checkbox.checked + label::before {
  content: "";
  border-color: #0088cc;
  background: #0088cc;
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}
.login-popup .form-checkbox {
  margin-top: 2.2rem;
  margin-bottom: 2.3rem;
}
.login-popup .tab-nav-underline .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-top: 3px solid transparent;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: border-color 0.3s, -webkit-transform 0.3s;
  transition: border-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, border-color 0.3s;
  transition: transform 0.3s, border-color 0.3s, -webkit-transform 0.3s;
}
.login-popup .nav-item .nav-link::after {
  border-top-width: 3px;
  -webkit-transform: none;
  transform: none;
  border-color: #336699;
}

.login-popup .tab-pane {
  padding-top: 30px;
  padding-bottom: 25px;
}
.login-popup .form-checkbox a {
  font-size: 1.4rem;
  color: #a94442;
}

.login-popup p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.86;
  margin-top: 0;
}

.login-popup .btn {
  display: block;
  padding-top: 0.79em;
  padding-bottom: 0.79em;
}
.login-popup .social-icons {
  border: 1px solid #08c;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.login-popup .social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-popup .social-icons:hover {
  background-color: #08c;
  color: #fff;
}
.login-popup .social-icons:before {
  padding-right: 15px;
}
.different_login {
  text-align: center;
  position: relative;
  margin: 20px 0;
}
.different_login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #ddd;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.different_login span {
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
}
.login-popup #sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.login-popup .form-group.w-48,
.login-popup .form-group.w-100 {
  width: 100%;
}
@media (min-width: 768px) {
  .login-popup .form-group.w-48 {
    width: 48%;
    margin-bottom: 1.5em;
  }
  .login-popup .form-group.w-100 {
    margin-bottom: 1.5em;
  }
}
.login-popup input[type=number]::-webkit-outer-spin-button,
.login-popup input[type=number]::-webkit-inner-spin-button,
.login-popup input[type=number]{
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.login-popup .dropdown-box{
  left: 0;
  right: auto;
  height: 25vw;
  overflow: auto
}
.login-popup .dropdown-box > li{
  padding: 0.5rem 2rem !important;
}
.login-popup .dropdown-box > li:hover{
  background-color: #0088cc;
  color: white;
}

/* Modal CSS */
.modal-overlay{
  position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    transition: opacity 0.4s;
    z-index: 9999;
}
.modalCloseBtn{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.modalCloseBtn i{
  height: 18px;
  width: 18px;
}
.otpModal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  z-index: 9999;
  padding: 40px 50px;
  width: 400px;
}
.otpModal .otpInput{
  width: 35px;
  height: 35px;
  font-size: 2rem;
  border: none;
  text-align: center;
  border-bottom: 0.5px solid #0088cc !important;
  margin-right: 10px;
}
.otpModal .resendOtp{
  background-color: transparent;
  color: #0088cc;
  border: none;
  padding: 0;
  cursor: pointer;
}
.otpModal .alertMsg{
  padding: 8px 12px;
  margin: 1.5rem 0;
  border: 1px solid;
  border-radius: 3px;
}
.otpModal .alertMsg.success{
  background-color: rgb(172, 255, 172);
  color: green;
}
.otpModal .alertMsg.failure{
  background-color: rgb(255, 187, 187);
  color: rgb(241, 1, 1);
}